<html>
    <head>
        <title>NAK Corona Lights</title>
        <link href="/assets/css/main.css" rel="stylesheet">
        <script data-goatcounter="https://nakcoronalights.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&family=Roboto&display=swap" rel="stylesheet">

        
    </head>

    <body>
        <div class="contentWrapper">
            <img class="logo" src="/assets/images/logo.jpg">

            <% data.forEach((element, index) => { %>
                <div class="card card_<%= index %>">
                    <div class="card_Heading_Div">
                        <h3 class="card_Heading"><%= element.heading %> </h3>
                    </div>

                    <div class="contentwrapper">
                        <div class="trafficLight trafficLight_<%= index %>  <%= element.color %>">
                            <div class="trafficLightBulbMarginLeft"></div>
        
                            <div class="trafficLightBulb_Wrapper">
                                <div class="trafficLightBulb_Margin_Top"></div>
                                <div class="trafficLightBulb red"></div>
        
                                <div class="trafficLightBulb_Margin_Top"></div>
                                <div class="trafficLightBulb yellow"></div>
        
                                <div class="trafficLightBulb_Margin_Top"></div>
                                <div class="trafficLightBulb green"></div>
        
                            </div>
                        </div>
        
                        <div class="description description_<%= index %>">
                            <p class="description_p_<%= index %>"></p>
                        </div>
    
                        <div class="moreButton moreButton_<%= index %>" onclick="openCard(this, <%= index %>, '<%= element.description %>')">
                            <p class="moreButton_p_<%= index %>">Details</p>
                        </div>
                    </div>
    
                    
                </div>
            <% }); %>

            <div class="footer">
                <div class="corona_Melden backButton" onclick="window.location = '/download'">
                    <div class="corona_Melden_Wrapper" >
                        <img class="backIcon" src="/assets/images/down.png">
                        <p>Materialien runterladen</p>
                    </div>
                </div>


                <div class="corona_Melden" onclick="mail('corona@nordakademie.de')">
                    <div class="corona_Melden_Wrapper" >
                        <img class="backIcon" src="/assets/images/corona.png">
                        <p>Fall melden</p>
                    </div>
                </div>

                <div class="corona_Melden stupa" onclick="mail('stupa@nordakademie.de')">
                    <div class="corona_Melden_Wrapper">
                        <img class="corona" src="/assets/images/stupa.png">
                        <p>StuPa kontaktieren</p>
                    </div>
                </div>

                <img class="logoFooter" src="/assets/images/logo.png">

                <p>© 2022, Elias Peeters</p>

                <a class="impressum" href="/impressum">Impressum</a>

            </div>
   
        </div>
    
        <script src="/assets/js/openCards.js"></script>

        <script>
            function mail(adress) {
                window.location.href = `mailto:${adress}`;
            }
        </script>
    </body>
</html>